 .{
  margin: 0;
  padding: 0;
 }

 header{
  background-color: rgb(32, 189, 241);
  font-size: 30px;
  text-align: center;
 }

 footer{
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  text-align: center;
  width: 100%;
  background-color: rgb(211 244 244);
}

main{
  width: 80%;
  margin: 0 auto;
}

.content{
  border: 1px solid;
  border-color: #171718;
}

.name{
  display: inline-block;
  width: 100px;
}
